*{
    margin:  0;
    padding:  0;
    box-sizing: border-box;
}
.Khung{
    width: 1500px;
    height: 100vh;
    background-color: rgba(255, 213, 173, 0.359);
    margin: auto;
}
.content{
    width: 50%;
    padding-top: 20px;
    margin: auto;

}
.img{
    background-color: rgb(252, 131, 39);
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 80px 10px 80px 80px; 
}

.img2{
    background-color: rgb(252, 131, 39);
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 10px 80px 80px 80px;  
    
}
.khungChu{
    display: flex;
}
.left{
    width: 450px;
    height: 600px;
    padding-left: 100px;
    padding-top: 50px;

}
.ringht{
    width: 450px;
    height: 600px; 
    padding-left: 100px;
    padding-top: 50px;

}
h1{
    color: rgba(147, 147, 147, 0.862);
    font-size: 70px;
    margin: 0px;
}
p{
    padding-bottom: 70px;
}
